/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */


/* All font */

* {
    font-family: Arial, Helvetica, sans-serif;
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: center;
    caption-side: top;
}


/* Banner text */

.banner-text {
    color: whitesmoke;
    padding-top: 30px;
    padding-right: 700px;
}

.btn-md {
    margin-left: 280px;
    background-color: white;
    color: black;
    border-color: black;
}

.hero {
    height: 375px;
    background-position: center;
    background-size: cover;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
}

.labels {
    height: fit-content;
    width: fit-content;
    margin: auto;
}


/* Footer */

.footer {
    position: fixed;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #f1eef6;
    background: linear-gradient( #034e7b, black);
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline;
}

#word_cloud_img {
    display: block;
    border-style: solid;
    border-color: black;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}

#contNews {
    display: block;
    text-align: left;
    border-collapse: collapse;
}

#caption {
    font-weight: bold;
    text-align: center;
    color: black;
}

#button {
    background-color: #045283;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    margin-left: 20px;
    margin-top: 25px;
}

.h6 {
    font-size: bold;
}

.dropdown {
    padding-left: 15px;
    text-align: center;
}