/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */


/* All font */

* {
    font-family: Lucida Console, Courier, monospace;
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: center;
    caption-side: top;
}

/* Banner text */

.banner-text {
    color: whitesmoke;
    padding-top: 30px;
    padding-right: 700px;
}


/* Footer */

.footer {
    position: fixed;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #f1eef6;
    background: linear-gradient( #034e7b, black);
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline;
}


/* .footer {
    position: fixed;
    height: 70px;
    right: 0;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #f1eef6;
    background: linear-gradient( #034e7b, black);
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline;
} */