/* https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */


/* All font */

* {
    font-family: Lucida Console, Courier, monospace;
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: center;
    caption-side: top;
}


/* Banner text */

.banner-text {
    color: whitesmoke;
    padding-top: 30px;
    padding-right: 700px;
}


/* Footer */

.footer {
    position: fixed;
    height: 70px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: #f1eef6;
    background: linear-gradient( #034e7b, black);
}

.footer ul {
    list-style: none;
}

.footer ul li {
    display: inline;
}

.btn-md {
    margin-top: 25%;
}

#word_cloud_img {
    display: block;
    border-style: solid;
    border-color: black;
    border-width: medium;
    margin-left: auto;
    margin-right: auto;
}

#contNews {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#button {
    background-color: lightseagreen;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 12px;
}

.dropdown {
    padding-left: 15px;
}